{
	"trailingComma": "none",
	"tabWidth": 2,
	"useTabs": true,
	"semi": false,
	"singleQuote": true,
	"jsxSingleQuote": true,
	"arrowParens": "avoid",
	"singleAttributePerLine": true,
	"importOrder": [
		"<THIRD_PARTY_MODULES>",
		"^@/components/(.*)$",
		"^@/layout/(.*)$",
		"^@/ui/(.*)$",
		"^@/providers/(.*)$",
		"^@/services/(.*)$",
		"^@/constants/(.*)$",
		"^@/shared/(.*)$",
		"^@/assets/(.*)$",
		"^@/config/(.*)$",
		"^@/store/(.*)$",
		"^@/hooks/(.*)$",
		"^@/utils/(.*)$",
		"^@/api/(.*)$",
		"^../(.*)",
		"^./(.*)",
		"(.scss)$"
	],
	"importOrderSeparation": true,
	"importOrderSortSpecifiers": true,
	"tailwindAttributes": ["class", "className"],
	"tailwindFunctions": ["clsx", "cva", "tw"],
	"tailwindPreserveWhitespace": true,
	"tailwindPreserveDuplicates": true,
	"plugins": [
		"prettier-plugin-tailwindcss",
		"@trivago/prettier-plugin-sort-imports"
	]
}
